.box_container{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 14px 28px rgba(5, 5, 5, 0.925), 0 10px 10px rgba(95, 18, 18, 0.22);
    text-align: center;
    min-height: 200px;
    /* max-width: 200px; */
    margin:5rem auto 20rem auto;
   border-radius: 4rem;
}
a{
    font-size: bold;
}
.box_container a button{
    padding:3rem;
    margin: 2rem;
    color: darkgray;
    background-color: rgb(65, 70, 68);
    border-radius: 4rem;
    background-repeat: no-repeat;
    transition: transform 40ms ease-in;
}
button:focus {
    outline: none;
}

