.register-container{
    background-color: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 0 14px 28px rgba(5, 5, 5, 0.925), 0 10px 10px rgba(95, 18, 18, 0.22);
    position: relative;
    width: 450px;
  min-height: 550px;
    top: 5rem;
    margin: auto;
    
}
form {
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    min-height: 500px;

}
label{
    padding: 0 0 0 3rem;
}
input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 90%;
}
textarea{
    width: 90%;
}
button{
    border-radius: 3rem;
    border: 1px solid #ff4b2b;
    background-color:#ff4b2b;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0px;
    width: 40%;
    text-align: center;
    text-transform: capitalize;
    /* transition:transform 60ms ease-in; */
    background-repeat: no-repeat;
    margin: auto;
   
}
button:active {
    transform: scale(1.01);
}

button:focus {
    outline: none;
}


h1{
    font-size: 2rem;
    font-family: sans-serif;
    padding: 1rem 0 0 3rem;

}
input[type=number] {
    appearance:textfield;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

