

.profile_customer{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 2rem;
}

.profile>div{
    margin: 1rem;
}


.profile-customer{
    text-align: center;
    height: 500px;

}

.customer-describe{
    margin: 3rem 0 0 2rem;
    width: 70%;
    background-color: rgb(134, 134, 201);
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    top: 10%;
    height: 70%;
    border:1px double blueviolet;
    border-radius: 0.8rem;
    box-shadow: 0 2px 20px rgb(209, 203, 203);
    padding: 1rem;

}

.customer-image{
    background: blueviolet;
    left: 50%;
    position: relative;
    transform: translate(-50%,0%);
    height:200px;
    border-radius: 50%;
    margin-top: 2rem;
    overflow: hidden;
    box-shadow: 0 7px 15px rgb(255, 208, 0);

}

img{
    width: 100%;
    height: 99%;
    transform: scale(1.1);
}

