

.profile .profile-hotel{
    display: grid;
    grid-template-columns: 45% 55%;
    margin: 7rem 1rem 1rem 1rem;
}

.hotel-pic{
    background: rgb(49, 168, 19);
    padding: 0.2rem;
    box-shadow: 0 8px 10px blue;
    margin: 2rem;
}

.hotel-pic .cover-pic{
    background:url(../assets/hotelphotos/hotel1.jpg);
    height: 100%;
    width: 100%;
    background-size:cover ;
}

.hotel-pic .cover-pic .profile-pic {
    width: 30%;
    position: relative;
    left: 60%;
    margin: 2rem 1rem;
    padding: 0.2rem;
}

.hotel-pic .cover-pic .profile-pic  img{
   border-radius:50%;
   height: 135px;
   width: 100%;


}

.hotel-pic .cover-pic .profile-pic img:hover{
    opacity: 0.8;
}
.hotel-pic .cover-pic .profile-pic img:active{
    opacity: 0.6;
}


.profile .profile-data{
    padding: 1rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
    position: relative;
    padding: 2rem;    
    box-shadow: 0 7px 15px blue;
}
