



.view_it_container{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 1rem;

}

.view_it_container .view_it_image{
    width: 100%;
    max-height: 300px;
    min-height: 300px;
}

.view_it_container img{
    width: 100%;
    border: 1px solid rgb(112, 112, 110);
    box-shadow: 0 1px 8px rgb(138, 98, 49);
}
.view_it_container .flex{
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.4rem;
}
/* .view_it_container .flex h1{
    text-align: center;
    margin: 0 0 1 0;
} */
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.chwomein{
    display: flex;
    flex-direction: row;

    
}

 table{
    border: 1.5px solid black;
    width: 90%;
    position: relative;
    transform: scale(0.97);
    /* margin-top: 4rem; */
}
 table tr th{
    border: 1px solid black;
    /* text-align: center; */
 }
    table tr td{
    border: 1px solid black;
    text-align: center;
}

table .timebox{
    border: 1px solid black;
}

