.container-fluid
{
    background-color: rgba(0,0,0,0.7);
    text-transform: capitalize;
}
.container-fluid h1{
    text-transform: capitalize;
    text-align: center;
    color: whitesmoke;
}